*{

margin: 0;
padding: 0;
box-sizing: border-box;

}


:root{

--a-color:   #4a6f8a;
--blue-color :#0046c0;
--paragraph-color: #616263;



}


ul{

list-style: none;

}
a{
    text-decoration: none;
}
button{

all: unset;

}



/* ! Header */
header{
    background-color: white;
    
    
    z-index: 9999;
     width: 100%;
     
    box-shadow:0px 0px 15px 0px #ddd ;
    position: sticky;
    top: 0;
}
.my_header{

padding: 15px;
display: flex;
justify-content: space-between;
align-items: center;

}


header img{

width: 100px;

}
nav ul{

display: flex;
gap: 40px;

}
nav li{

display: flex;

align-items: center;
gap: 5px;
position: relative;

}
nav a{

color: var(--a-color);
font-weight: 500;
font-size: 18px;

transition: 0.2s;
}
nav a:hover{
    color: var(--blue-color);
}

nav i{

font-size: 13px;
color: var(--a-color);


}


.search_icon{
padding: 20px;
width: 30px;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
background-color: #d8e0e8;
transition: all 0.5s  ease;
}

.search_icon button{
width: 30px;
height: 30px;

}

.search_icon i{

font-size: 22px;
color: var(--blue-color);
transition: color 0.5s ease;

}

.search_icon:hover{

background-color: black;


}
.search_icon:hover i{


color: white;


}


header .menu{
       
    background-color: #616263;
    display: flex;
    gap: 0px;
    flex-direction: column;
    position: absolute;
    top: 60%;
    left: 0%;
    opacity: 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    width: 250px;
    border-radius: 5px;
    background-color: white;
    /* padding: 20px; */
    border-left: 3px solid var(--blue-color);
    transition: 0.3s ;
    visibility: hidden;
    z-index: 2000 ;
}
.pages{


/* transition: 10s ease; */

}

.pages:hover>a ,.pages:hover>i{


color: var(--blue-color);


}

.pages:hover .menu{

opacity: 1;
transform: translateY(13px);
visibility: visible;

}
.menu a:hover{

color: var(--blue-color);

}

.menu li:not(:last-child){

border-bottom:1px dashed  #d8e0e8 ;

}


.menu a{

padding: 15px;
color: var(--a-color);

}


/* /////////////////////////////////////////////////////// */


.list_1 i{

font-size: 25px;
color: white;

}

.list_1{

display: none;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 5px;
width: 35px;
cursor:pointer;


}
.list_1 span{
background-color: white;
width: 35px;
height: 4px;
border-radius: 10px;

}
.logo_2{

display: none;

}

.nav-bar{

display: none;

}

.nav-bar ul{

max-height: 330px;
overflow-y: scroll;


}


.no-menu{
display: flex;
justify-content: space-between;
align-items: center;

} 

.nav-bar li:not(:last-child){

border-bottom:1px solid  #DBEEFD ;


}

.nav-bar ul li i{
    color: var(--a-color);
    font-weight: 900;
}
.nav-bar ul li a{
padding: 15px;
color: var(--a-color);
}


.menu_2{


transition: 0.5s;

height:0px;



}
.menu_2.open{


display: flex;
flex-direction: column;

}





.head-menu{

display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}

.has-menu ul li{

padding: 15px;


} 



/* Responsiver header */
@media (max-width: 991px) {


.my_header .logo_1{

display: none;


}


.menu_2{
    max-width: 100%;
}
.logo_2{

display: block;

}


header{

background-color: var(--blue-color);

}
nav{

display: none;

}
 header .list_1{
    display: flex;
    
    
}
.my_header{

justify-content: space-between;
padding: 10px;

}
.search_icon{
    display: none;
}
.nav-bar{
    
    display: block;
    height: 0px;
    overflow: hidden;
    
    transition: 0.5s;
    
    /* position: absolute;
    top: 60%;

    z-index: 2000; */
}

 .nav-bar.open_2{

height: 0px;

} 
.active span:first-child{
transform: translateY(9px) rotate(45deg);
transition: 0.5s;
}
.active span:nth-child(2){
opacity: 0;
transition: 0.5s;
}
.active span:last-child{
transform: translateY(-9px) rotate(-45deg);
transition: 0.5s;
}
#main_ul{
    max-width: 100%;
    
    }
#main_ul a{
    padding-left: 25px;
    
}

.menu_2 li{
    padding-left: 25px;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */


}
/* Responsiver header */





/* ! Header */






/* ! hero sec */



.hero {

background-image: url(images/home_1.jpg);
background-size: cover;
background-position: center center;
/* background-position-y:0% ; */
background-repeat: no-repeat;
min-height: 830px;
position: relative;
}
 .hero img{

   max-width: 500px;
    position: absolute;
    /* animation-name: sma3a; */
    animation: sma3a 5s infinite forwards alternate linear;
    


 }



 .hero .hero_content{
    position: absolute;
    top: 25%;
 }


.text_content{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.text_content h1{

max-width:  500px;
font-size: 46px;
line-height: 1.2;
font-weight: 700;
}


.text_content p{

 max-width: 550px; 
line-height: 1.5;
color: var(--paragraph-color);

}
.text_content .btns{

display: flex;
gap: 30px;

}

.text_content .btns :first-child{

padding: 12px 18px;
border: 2px solid transparent;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
background-color: var(--blue-color);
color: white;
font-weight: 500;
transition: 0.5s;
}
.text_content .btns :last-child{

padding: 12px 25px;
border: 2px solid var(--blue-color);
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
background-color: white;
color: var(--blue-color);
font-weight: 500;
transition: 0.5s;
}



.text_content .btns :first-child:hover{

background-color: white;
color: var(--blue-color);
border-color: var(--blue-color);

}
.text_content .btns :last-child:hover{

background-color:var(--blue-color);
color: white;
border-color: transparent;

}

.hero .charts {


display: flex;
justify-content: space-between;
gap: 15px;
position: absolute;
top: 81%;
left: 50%;
transform: translateX(-50%);
}





.hero .charts span{

width: 20px;
height: 5px;
border-radius: 10px;
background-color: var(--blue-color);
transition: 0.3s;
cursor: pointer;
}
.hero .charts span:hover{

width: 30px;
background-color: rgb(157, 189, 252);

}



/* .hero .previous{
width: 55px;
height: 55px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
position: absolute;
top: 50%;
left: 30px;
font-size: 25px;
background-color: rgb(157, 189, 252);
color: white;
} */
.hero .next,
.hero .previous{
width: 55px;
height: 55px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
position: absolute;
top: 50%; 
font-size: 25px;
background-color: rgb(189, 204, 226);
color: white;
transition: 0.5s;
cursor: pointer;
}

.previous{

left: 30px;
}

.next{ 
right: 30px;
}

.hero .next:hover ,.hero .previous:hover{

background-color: black;


}



.hero .info_box{
max-width: 1320px;
/* width: 100%; */
background-image: url(images/DNA.png);
background-size: cover;
background-position: center;
border-radius: 10px;
padding: 45px  110px;
display: flex;
justify-content: center;
align-items: center;
gap: 70px;
position: absolute;
top: 85%;
left: 0;
right: 0;
/* transform: translateX(-50%); */
 margin: auto; 
/* margin-bottom: 1000px; */
}



.info_box i{

margin-right: 30px;
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
border: 4px solid rgb(157, 189, 252);
border-radius: 50%;
background-color: white;
transform: translateY(7px);
flex-shrink: 0;

}

.info_box>div{

    display: flex;
justify-content: start;



}
.info {

display: flex;
flex-direction: column;

color: white;
}
.info a {
    color: white;
}
.info :first-child{
    margin-bottom:18px ;
}
.info>h3{
    font-size: 22px;
    font-weight: 800;
}
.info>p{
    width: 300px;
     
}
@keyframes sma3a {
    0%{
transform: translateY(0px);
    }
    100%{
transform: translateY(50px)
    }
}




/* Responsive hero */

@media (max-width :991px) {



.hero img{

    width: 600px;
    margin-right:200px ;
    top: 10%;
}

.text_content{
    text-align: center;
 align-items: center;
}
.text_content h1{
    font-size: 30px;
    max-width: 100%;
}

.tablet {


max-width: 100%;
}

.hero .info_box {
padding: 40px;
width: 80%;
margin: auto;

 margin-top: 200px ; 

}
.info>p{
    width: 100%;
}

.pos{
    display: flex;
    justify-content: center;
}

/* .info_box{
    flex-wrap: wrap;
} */

    
}

 @media (max-width:768px) {
.hero .info_box {
padding: 40px 15px;
width: 100%;
gap: 30px;


margin-top: 180px ; 

}
}









/* ! hero sec */









/* ! About_us sec */

.about_us{

/* padding-top: 150px;
padding-bottom: 100px; */
padding: 100px 0px;
margin-top: 70px;

}

.about_img{
    /* background-image: url(images/about_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0 10px 10px 0;
    margin-bottom: 30px;
     */
     border-radius: 0 10px 10px 0;
     height: 555px;
      overflow: hidden;
      
}
.about_us img{
transform: translateY(-70px);
/* width: 100%;
object-fit: cover; */
max-width: 100%;
vertical-align: middle;
overflow-clip-margin: content-box;
overflow: clip;
object-fit: cover;
border-radius: 0 10px 10px 0;
margin-bottom: 30px;
}

.about_us .right{
padding: 0;
padding-left:80px;

}
.sec_title span{

color: #0046c0;
font-weight: 700;
font-size: 15px;


}

.sec_title h2{
font-size: 38px;
width: 70%;
line-height: 1.2;
color: #232323;
font-weight: 700;
margin-top: 5px;
}
 .sec_title{
    margin-bottom: 40px;

}

.about_us .about_features{
display: flex;
flex-direction: column;
gap: 60px;
}
.about_us .about_features .fea_item{

display: flex;
align-items: center;

gap: 40px;

}
/* .about_us .about_features .icon{

display: flex;
justify-content: center;
align-items: center;

} */
 .about_us  .fea_item h3{
    font-size: 24px;
    font-weight: 600;
    color: #4a6f8a;
    margin-bottom: 10px;
 }
 .about_us  .fea_item p{
    line-height: 1.5;
    width: 60%;    
    color: #4a6f8a;

 }
.about_us .about_features i{
text-align: center;
font-size: 35px;
color: #111111;
width: 70px;
background-color: #f1f1f1;
height: 70px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0 0 0 10px var(--blue-color);
flex-shrink: 0;
transition: 0.5s ease;
}

.about_us .icon:hover i{

box-shadow: 0 0 0 10px #111111;

}




/* ~ Responsive about */
@media (max-width : 991px) {
    .about_img{
        height: auto;
    }
    .about_us{
        margin-top: 430px;
    }
    .about_us .right{
        padding-left: 20px;
    }
    .sec_title h2{
        width: 100%;
        font-size: 26px;
    }
    .about_us  .fea_item h3{
    font-size: 20px;
    margin-bottom: 8px;
 }
 .about_us  .fea_item p{
    line-height: 1.5;
    width: 100%;    
    color: #4a6f8a;

 }
 .about_us img{
    transform: translateY(0px);
 }
}

 @media (max-width:768px) {
    .about_us{
        margin-top: 450px;
    }
    .sec_title h2{
        font-size: 22px;
    }
 
.about_us .about_features .fea_item{
    gap: 20px;
}
}




/* ! About_us sec */










/* ! exp sec */


.exp .exp_item{

padding: 30px;
display: flex;
flex-direction: column;
gap: 12px;
border-radius: 10px;
box-shadow: 0 0 20px 0px rgba(221, 221, 221, 0.65);
margin-bottom: 30px;
}
.exp_item i{

width: 25px;
height: 25px;
color: #6096fd;
background-color: #e9eef5;
text-align: center;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
flex-shrink: 0;
font-size: px;
font-weight: 900;
border: 2px solid  #6096fd;
box-shadow: 0 0 0 8px #e9eef5;
margin-bottom: 12px;
transition: 0.5s ease;

}
.exp_item h3{
    font-size: 22px;
    font-weight: 700;
    color: #232323;
}
.exp_item p{
    
    line-height: 1.7;
    color: rgb(74, 111, 138);
}

.exp_item:hover i{
    box-shadow:0 0 0 8px  #6096fd;
    border-color: white ;
    color:  white;
    background-color: #6096fd;
}

.exp img{
    max-width: 90%;
    object-fit: cover;
    position: absolute;
    left: 25%;
}

.exp .Em{
    background-color: var(--blue-color);
    /* padding: 30px 100px 25px 40px; */
    padding: 20px;
    padding-left:50px ;
    border-radius: 10px;
    width: 60%;
    display: flex;
    align-items: center;
    position: absolute;
    gap: 30px;
    top: 77%;
    left: 14%;
}


.Em > div:last-child *{
    display: flex;
    flex-direction: column;
    color: white;
}

.Em h3{
font-size: 24px;
margin-bottom: 8px;
font-weight: 500;

}

.Em .ico{
width: 45px;
height: 45px;
 background-color: #ffffff; 
transform: rotate(45deg);
display: flex;
justify-content: center;
align-items: center;

}
.ico i{
    transform: rotate(-45deg);
    color: var(--blue-color);
}


.Em a{
    border: unset;
}

.exp .box_3{

    height: 600px; 
    position: relative;
}


@media (max-width :991px) {
    .exp img{
        position: static;
    }
.exp .box_3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
    
}


@media (max-width:768px) {
    .exp img{
        max-width: 100%;
        width: 100%;
    }
    .exp .box_3{
        background-color: #616263;
        align-items: start;
        padding: 0;
    }
    .exp .Em{
        width: 70%;
        padding: 15px;
    padding-left:30px ;
    left: 5%;
    }
    .Em > div:last-child *{
        font-size: 18px;
    }
    .Em .ico{
        width: 40px;
        height: 40px;
    }

    .Em > div:last-child :last-child{
        font-size: 12px;
    }
    .Em h3 {
        margin-bottom: 5px;
    }

}


/* ! exp sec */







/* ! ser sec */

.ser{
    padding: 100px 0px;
    padding-bottom: 70px;
}

.ser .ser_item{
    text-align: center;
    padding: 25px 10px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 25px 0px rgba(221, 221, 221, 0.7490196078);
    position: relative;
    
       /* transition: 0.5s ease; */
       
}


.ser_item i{
    display: inline-block;
    font-size: 65px;
    color:  rgb(77, 147, 233);
     margin-bottom: 20px; 
     
    /* transition: 0.5s ease; */
}


.ser_item h3{
    font-size: 22px;
margin-bottom: 14px;
font-weight: 600;

}

.ser_item p{
     line-height: 1.7;
    color: rgb(74, 111, 138);
    
}
.ser_item a{
    display: no;
    padding: 12px 18px ;
    color: var(--blue-color);
    background-color: white;
    transition: 0.4s ;
}
.ser_item a:hover{
    background-color: black;
    color: white;
}

/* .ser_item:before{
    content: "";
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    
    width: 100%;
    z-index: -1;
    height: 100%;
    background-color: var(--blue-color);
    transition: 0.5s ease;
}

.ser_item:hover:before{
    opacity: 1;
} */

 /* .ser_item:hover p{
    margin-bottom: 20px;
} */
/* .ser_item:hover h3{
    margin-bottom: 20px;
}   */
.ser_item:hover a{
    display: inline-block;
    z-index: 2;
    
}
   /* .ser_item:hover.ser_item i{

    position: absolute;
    top: 25%;
bottom: 0;
width: 100%;
height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.1;
    font-size: 100px;
    color: #fff;
    display: none;
}    */
.ser_item .ch{
    
    width: 100%;
     height: 100%;
     padding: 30px 10px;
      position: absolute;
      top: 0; 
      left: 0;
       background-color: var(--blue-color);
      display: flex;
       align-items: center;
       
       flex-direction: column;
       opacity: 0;
       transition: 0.3s ease;
}
.ser_item:hover.ser_item .ch{
    opacity: 1;
}
.ch p{
    margin-bottom: 24px;
    z-index: 2;
}
.ch h3{
    margin-bottom: 20px;
    z-index: 2;

}
.ch p , .ch h3{
    color: white;
}
.ch i{
    position: absolute;
    z-index: 0.5;
    font-size: 165px;
    opacity: 0.1;
    top: 20%;
    color: #fff;
}


/* ! ser sec */






/* ! hos sec */



.hos{
    background-image: url(images/surgy_2.jpg);
    height: 560px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 115px;
    padding-bottom: 100px;
    position: relative;
     transition: 0.2s; 
}

.hos button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    color: var(--blue-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: 0.5s ;
}
.hos button:hover{
    background-color: black;
}
.hos i{
    font-size: 35px;
    font-weight: 400;
}

.hos_title{
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    color: white;
    padding-left: 30px;
    margin-top: 90px;
    max-width: 745px;
}
.hos_title p{
        line-height: 1.7;
        width: 100%;
}
.hos_title h2{
    font-size: 36px;
    font-weight: 600;
}
.hos_title:before{
    position: absolute;
    content: "";
    width: 5px;
    height: 140px;
    background-color: white;
    top: 15px;
    left: 0;
    

}
.my_hos_row{
    background-color: white;
    padding: 0px 50px;
    position: absolute;
    width: 100%;
    top: 115%;
    box-shadow: 0px 0px 15px 0px #ddd;

}


.my_hos_row>div{
    /* padding: 25px 49px 25px 49px;
    margin-right: px; */
    padding:25px 35px  ;
    cursor: pointer;
    text-align: center;
}

.click {
    background-color: var(--blue-color);
    transition: 0.3s;
}

.my_hos_row a{
    color: #4d93e9;
    font-weight: 700;
}
.my_hos_row .click a{
    color: white;
}

.hos .video_popup{
    position: absolute;
      top: 5%; 
     left: 20%; 
     z-index: 1;
     display: none;
}
.hos .video_popup i{
    position: absolute;
     right: 10px;
     bottom: 103%; 
    font-size: 15px;
    color: var(--paragraph-color); 
    cursor: pointer;
}
.hos .video_popup i:hover{
    color: #fff;
}
.hos .overlay{
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
   display: none; 
}
   .fade {
     opacity: 0; 
  
}   
iframe{
    
     width: 900px; 
    height: 500px;
}

@media (max-width : 991px) {
    .hos .video_popup{
        left: 0;
        
        width: 100%;
        
    }
    iframe{
        width: 100%;
     
        
    }
    .hos_title h2{
        font-size: 26px;
    }
}

@media (max-width : 768px){

iframe{
   height: 400px;
}
.hos_title h2{
    font-size: 22px;
}
.ser{
    padding-bottom: 35px;
    padding-top: 50px;
}
}







/* ! hos sec */

